@font-face {
    font-family: chenjing;
    src: url("font/chenjing.ttf");
}
html{
    background-color:#66ccff;
}
.top{
    background-color:rgba(223, 221, 221, 0.3);
    width: 350px;
    height: 80px;
    border: 0px;
    border-radius: 50px;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0);
    position:fixed;
    }

.top1{
    display:inline-block;
    font-family: chenjing;
    font-size: 50px;
    font-weight: 400;
    top: -65%;
    position: relative;
}
.top_image{
    display: inline-block;
    border: solid 1px white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: relative;
    vertical-align: middle;
}
.bottom{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 140px;
    text-align: center;
    vertical-align: middle;
    background-color: #66ccff;
    bottom: 0;
    border: 0px solid ;
    position: fixed;
}

#hitokoto_text{
    font: 50px "chenjing";

}

